.section-install-cli {
    margin-top: 130px;
    margin-bottom: 130px;

    padding: 80px 45px 80px 30px;

    border-radius: 8px;
    border: 1px solid #1c1c1c;
    background-color: #1c1c1c;
    box-shadow: 0px 20px 40px rgba(227, 50, 47, 0.1), 0px 40px 40px -30px rgba(227, 50, 47, 0.25);

    @media (max-width: 998px) {
        margin-top: 110px;
        margin-bottom: 110px;

        padding: 70px 30px 70px 25px;
    }

    @media (max-width: 375px) {
        margin-top: 80px;
        margin-bottom: 80px;

        padding: 50px 20px;
    }

    .section-title.with-before {
        margin-bottom: 20px;
        color: #F8F9FC;

        @media (min-width: 999px) {
            padding-right: 22px;
        }
    }

    .margin-vert--md {
        margin-top: 30px !important;
        margin-bottom: 0 !important;

        @media (max-width: 998px) {
            margin-top: 20px !important;
        }

        @media (max-width: 375px) {
            margin-top: 30px !important;
        }
    }

    .tabs-container {
        .tabs {
            overflow: visible;
            flex-wrap: wrap;

            margin: -5px;

            @media (max-width: 375px) {
                margin: -10px;
            }
        }

        .tabs__item {
            margin: 5px !important;

            padding: 9px 25px;
            background-color: #453E43;
            border: 1.5px solid #453E43;
            box-sizing: border-box;
            border-radius: 30px;

            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            color: #ffffff;

            transition: 0.3s background-color ease-out,
                        0.3s color ease-out,
                        0.3s border-color ease-out;

            @media (max-width: 375px) {
                margin: 10px !important;
                font-size: 13px;
            }

            &:hover{
                border: 1.5px solid #FFD583;
                color: #FFD583;
            }

            &--active {
                background: $theme-yellow;
                border-color: $theme-yellow;
                color: #1C1C1C;

                box-shadow: 0px 8px 15px rgba(255, 213, 131, 0.1);
            }
        }

        div[role=tabpanel] {
            a, p {
                font-family: 'Segoe UI';
                font-size: 16px;
                line-height: 24px;
            }

            a {
                color: $theme-red;
                text-decoration: underline;
            }

            p {
                margin-bottom: 15px;

                color: #F2F4F8;
            }

            code {
                display: block;
                padding: 6px 14px;

                background: #453E43;
                border: 1px solid rgba(229, 229, 229, 0.3);
                box-sizing: border-box;
                border-radius: 4px;

                font-family: "Roboto Mono", monospace;
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;

                @media (max-width: 998px) {
                    padding: 6px 17px;
                    font-size: 13px;
                }
            }
        }
    }
}

html[data-theme="dark"] {
    .section-install-cli {
        border-color: $theme-red;
        background-color: #242526;
        box-shadow: 0px 20px 40px rgba(227, 50, 47, 0.05), 0px 40px 40px -30px rgba(227, 50, 47, 0.15);
    }
}