
.section{
    margin-top: 130px;
    margin-bottom: 130px;
    cursor: default;

    a{
        cursor: pointer;
        transition: 0.3s ease all;
    }

    @media ( max-width: 375px){
        margin-top: 80px;
        margin-bottom: 80px;
    }

    &__header{
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        margin-bottom: 60px;

        @media ( max-width: 375px){
            text-align: left;
            margin-bottom: 40px;
            padding: 0 20px;
        }

        h2{
            font-weight: bold;
            font-size: 28px;
            line-height: 44px;
            margin-bottom: 6px;

            @media ( max-width: 998px){
                font-size: 28px;
                line-height: 38px;  
            }

            @media ( max-width: 375px){
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 4px;
            }
        }

        &-description{
            font-size: 20px;
            line-height: 36px;

            @media ( max-width: 998px){
                font-size: 20px;
                line-height: 36px;
            }

            @media ( max-width: 375px){
                font-size: 17px;
                line-height: 25px;
            }

            span{
                position: relative;
                z-index: 0;

                &:before{
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0; left: 50%;
                    transform: translateX(-50%);
                    width: 105%;
                    height: 8px;
                    background-color: #F9CF73;
                    z-index: -1;

                    @media ( max-width: 375px){
                        height: 5px;
                    }
                }
            }
        }
    }

    a{
        color: #1C1C1C;
        text-decoration: underline;
    
        &:hover, &:focus{
            color: #F23135;
        }
    }
}


html[data-theme="dark"] {
    .section {
        a:not(:hover):not(:focus) {
            color: #f5f6f7;
        }
    }
}